<h2 class="content-block">Controle</h2>

<div class="content-box-all">
  <h4 class="content-box">Temperatura: <div class="sensor-info">{{info?.temperatura}}º C</div></h4>
  <h4 class="content-box">Tempo: <div class="sensor-info">{{info?.tempo}}</div></h4>
</div>

<div class="input-content">
  <input type="text" name="aname" placeholder="Temperatura...">
  <input type="text" name="bname" placeholder="Tempo...">
  <button>Iniciar</button>

  <button (click)="cancel()">Cancelar</button>
</div>
